@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
  color: rgb(15 23 42);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
  font-weight: lighter;
}

input{
  margin: 0.5rem 1rem;
  padding: 10px 12px;
  font-size: 1.5rem;
  border-radius: 5px;
  border-color: #ccc;
  color: #444;
}
label{
  margin: 0 1rem;
  font-size: 1rem;
}

button{
  margin: 1rem;
  padding: 10px 12px;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 5px;
}

button:hover{
  cursor: pointer;
  opacity: 80%;
}

.btn-primary{
  background-color: rgb(14 165 233);
  border: none;
  color: white;
}

